**/bin
**/build
**/CMakeFiles
**/CMakeScripts
**/Testing
**/nbproject

bin
build*
CMakeFiles
CMakeScripts
Testing

*.gcov
*.gcda
*.gcno
*.user

# Debug remnants
.debug_pubnames
.debug_pubtypes

*.a
*.o
*.obj
*.out
*.exe
*.gch
*.pch
*.dll
*.la
*.lai
*.lo
*.def
*.exp
*.app
*.layout
*.config
*.kdev4

# Build files
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Makefile

!default.config

\.vs*/
